// Globals
$enable-rounded: false;
$enable-transitions: false;
$enable-responsive-font-sizes: true;
$enable-gradients: false;
$enable-shadows: false;
$enable-caret: true;

// Typography
$font-size-base: .925rem;
$line-height-base: 1.5;

// Forms
$input-btn-focus-width: 0;

// Alerts
$alert-padding-x: .85rem;
$alert-padding-y: .65rem;

// Modals
$modal-backdrop-opacity: .6;
